@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Shirley's Nails Website </h1>

<img src="~/images/hobby1.jpg" alt="Nails 1">
<img src="~/images/hobby2.jpg" alt="Nails 2">

<p>I am extremely passionate about nails. It is a hobby I discovered a couple of years ago, and it quickly became my favorite pastime. I love experimenting with different designs, colors, and techniques, always looking for new ways to improve and express creativity through nail art. Beyond the artistic aspect, I truly enjoy the opportunity to meet amazing women from different backgrounds. Every appointment is not just about doing nails but also about building connections, sharing stories, and creating friendships. It brings me so much joy to make people feel confident and happy with their nails while forming meaningful relationships along the way.</p>
